/* Sort Page  */

body {
  background-color: #e2e5ed;
}

.wrapperSearchBar {
  width: 100%;
  background-color: white;
}

.inputGrup {
  width: 70%;
  height: 50px;
  border: none;
  padding-left: 20px;
}

.wrapperButton {
  width: 25%;
  border-left: 1px solid #46505c;
}

.buttonCategory {
  width: 45%;
  padding: 10px 0;
  color: #46505c;
  background-color: white;
}

.buttonSearch {
  width: 45%;
  color: white;
  background-color: #5e50a1;
}

.iconSearch {
  background-color: white;
}

.page-link.active .page-link {
  background-color: #5e50a1 !important;
  border-color: #5e50a1 !important;
  color: white;
}

@media screen and (max-width: 767px) {
  .wrapperSearchBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px;
  }
  .inputGrup {
    width: 82% !important;
    padding-left: 20px;
  }

  .iconSearch {
    background-color: white;
    font-weight: 700;
    padding: 10px 10px;
    margin: 0 10px;
  }

  .wrapperButton {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

/* Hire page  */

.skills {
  font-size: 0.9em;
  background-color: #fbb017;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
}

.form-focus:focus {
  border-color: #5e50a1;
  box-shadow: 0 0 5px #34296b;
}

/* Chat page  */

.user-card {
  display: flex;
  gap: 2rem;
  padding: 10px;
  background-color: var(--user-card-background, initial);
  cursor: pointer;
  margin-bottom: 10px;
}

.user-card.active {
  --user-card-background: #fbb017;
}

/* editprofile rekruiter */

.picture {
  height: 150px;
  width: 150px;
  background: #e5e5e5;
  border-radius: 100%;
  border: none;
}

.input-edit {
  display: none;
}
